{% extends 'client.html.twig' %}


<h1>Liste des Produits</h1>

<div>
    {% for produit in produits %}
        <div>
            <h2>{{ produit.nom }}</h2>
            <p>{{ produit.description }}</p>
            <p>Prix : {{ produit.prix }}€</p>
            <a href="{{ path('ajouter_au_panier', { 'id': produit.id }) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    {% endfor %}
</div>

<div>
    <h2>Panier</h2>
    <a href="{{ path('panier') }}" class="btn btn-success">Voir le panier</a>
</div>
