{% extends 'client.html.twig' %}

{% block title %}Passer une commande{% endblock %}

{% block body %}
    <h2>Passer une commande</h2>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.nomClient) }}
            {{ form_widget(form.nomClient) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.adresseLivraison) }}
            {{ form_widget(form.adresseLivraison) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.telephone) }}
            {{ form_widget(form.telephone) }}
        </div>
        <button type="submit" class="btn btn-success">Passer la commande</button>
    {{ form_end(form) }}

{% endblock %}
