{# templates/panier/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
    <h1>Votre Panier</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in panier %}
                <tr>
                    <td>{{ item.produit.nom }}</td>
                    <td>{{ item.produit.prixunitaire }}€</td>
                    <td>{{ item.quantite }}</td>
                    <td>{{ item.total }}€</td>
                    <td>
                        <a href="{{ path('app_panier_ajouter', {'id': item.produit.id}) }}" class="btn btn-sm btn-success">+</a>
                        <a href="{{ path('app_panier_retirer', {'id': item.produit.id}) }}" class="btn btn-sm btn-danger">-</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Votre panier est vide.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_panier_vider') }}" class="btn btn-danger">Vider le panier</a>
{% endblock %}
